.pyro {
    visibility: hidden;
}

#plate {
    visibility: hidden;
    animation: forwards;
}

.text {
    visibility: hidden;
    animation: ease-in 3s;
}

.msg {
    visibility: hidden;
    text-align: center;
    color: #8b6a60;
    font-size: 1rem;
}